## Priyanka Gorentla - 2/2/2023

## Optional Task 5 (Bonus)

## Reformatting your Data

In [1]:
import pandas as pd
contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'],
            ['Sue Brown', 'demo2@deitel.com', '5555551234']]
contactsdf = pd.DataFrame(contacts,
                          columns=['Name', 'Email', 'Phone'])
contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

## Defining a function and importing regex, improving DataFrame using Map

In [2]:
import re
def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)
formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [3]:
contactsdf['Phone'] = formatted_phone
contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234

## Self Check

In [4]:
import pandas as pd
import re
contacts = [['Priyanka', 'kongarap@hotmail.com', '6666666666'],
            ['Vijay', 'kongarav@hotmail.com', '9999999999']]
contactsdf = pd.DataFrame(contacts,
                          columns=['Name', 'Email', 'Phone'])
def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    if result:
        part1, part2, part3 = result.groups()
        return '(' + part1 + ') ' + part2 + '-' + part3
    else:
        return val
contactsdf['Phone'] = contactsdf['Phone'].map(get_formatted_phone)
contactsdf

       Name                 Email           Phone
0  Priyanka  kongarap@hotmail.com  (666) 666-6666
1     Vijay  kongarav@hotmail.com  (999) 999-9999